.sudoku-cell {
    border: 1px solid #0275d8;
    border-radius: 0.25rem;
    font-family: monospace;
    padding: 0.5rem;
    outline: none !important;
}

.sudoku-cell:focus {
    background-color: #89d7f1;
    color: #DC4C64;
}

.sudoku-error {
    /* color: #DC4C64; */
    background-color: #DC4C64;
}

.sudoku-grid {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(9, 4%);
    justify-content: center;
}

.sudoku-square {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .app {
    display: flex;
    flex-direction: column;
} */

.sudoku-button {
    margin: 1rem;
    text-align: center;
}